/*IMPORTS*/
@import url(https://fonts.googleapis.com/css?family=Cabin);
/*VARIABLES*/
body, html {
  font-family: Cabin, "Open sans", sans-serif;
  height: 100%;
  width: 100%;
}

/*HERO*/
.hero {
  display: flex;
  background: radial-gradient(circle farthest-side, #f4f4f4, #efeee8);
  background-repeat: no-repeat;
  height: 720px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  overflow: hidden;
}
.hero .content {
  padding: 10%;
}
.hero .content .header {
  padding-bottom: 40px;
}
.hero .content .header .card {
  background-color: white;
  font-family: Consolas, "Lucida Console", monospace;
  width: 35rem;
  height: 20rem;
  max-width: 70vw;
  max-height: 40vw;
  perspective: 150rem;
  margin: 20vh auto 0 auto;
  padding: 20px 10px 10px 10px;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  box-shadow: 10;
  transition: transform 0.8s ease, box-shadow 0.8s ease;
  box-shadow: 2em 2em 2em rgba(0, 0, 0, 0.4);
}
.hero .content .header .card:before, .hero .content .header .card:after {
  position: absolute;
}
.hero .content .header .card:hover {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(1em) translateZ(1em);
}
.hero .content .header .card:focus {
  transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg) translateY(1em) translateZ(1em);
}
.hero .content .header .card:hover, .hero .content .header .card:focus {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  outline: none;
  border: none;
}
.hero .content .header .card .flipper {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}
.hero .content .header .card-front {
  transform: rotateX(0deg);
}
.hero .content .header .card-front:after {
  color: black;
}
.hero .content .header .card-back {
  transform: rotateX(180deg);
}
.hero .content .header .card-back:after {
  color: black;
}
.hero .content .header .card-front, .hero .content .header .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backface-visibility: hidden;
}

.outer-arrow-btn {
  padding-top: 40px;
}
.outer-arrow-btn .arrow-btn {
  display: block;
  margin: auto;
}
.outer-arrow-btn .arrow-btn i {
  font-size: 6em;
  color: gold;
}
.outer-arrow-btn .arrow-btn:hover,
.outer-arrow-btn .arrow-btn:focus {
  box-shadow: none;
}
.outer-arrow-btn .arrow-btn:hover i,
.outer-arrow-btn .arrow-btn:focus i {
  color: gold;
}

/*NAV*/
.navbar {
  background-color: RGBA(255, 255, 255, 0.9);
  border: none;
  border-radius: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

/*Override navbar defaults*/
.navbar-brand {
  color: gold;
}

.navbar-nav > li > a {
  color: #777;
}

button.navbar-toggle span {
  background: #777;
}

button.navbar-toggle:focus span {
  background: gold;
}

button.navbar-toggle:focus {
  background: RGBA(0, 0, 0, 0.05);
  border-radius: 10px;
}

.navbar-nav > li > a:focus {
  background-color: RGBA(255, 255, 255, 0);
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-nav > li > a:hover {
  color: gold;
  background-color: RGBA(255, 255, 255, 0);
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: gold;
  background-color: RGBA(255, 255, 255, 0);
}

.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus {
  color: gold;
  background-color: RGBA(255, 255, 255, 0);
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

/*BODY*/
.page-content {
  margin: auto;
  line-height: 1.625;
}

.section-heading {
  color: gold;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.section-subheading {
  color: gold;
}

section {
  padding: 2em 15%;
}

/*HOME*/
#home {
  padding-top: 60px;
}
#home #about-me p {
  padding-top: 50px;
  text-align: justify;
}
#home #about-me #avatar {
  float: left;
  width: 200px;
  height: 200px;
  margin: 2.4em 2.4em 2.4em 0;
  border-radius: 50%;
}

/*PORTFOLIO*/
#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio .portfolio-item {
  padding: 1em;
}
#portfolio .portfolio-item .portfolio-container {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
}
#portfolio .portfolio-item .portfolio-container img {
  background-color: #222;
  box-shadow: 0 20px 15px -10px rgba(0, 0, 0, 0.25);
  display: block;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: 0.5s;
}
#portfolio .portfolio-item .portfolio-container .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: black;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-container .portfolio-hover .portfolio-hover-content {
  position: absolute;
  padding: 2em;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
}
#portfolio .portfolio-item .portfolio-container .portfolio-hover .portfolio-hover-content .portfolio-title {
  color: gold;
  font-size: 2em;
}
#portfolio .portfolio-item .portfolio-container .portfolio-hover .portfolio-hover-content .portfolio-description {
  font-size: 1.2em;
}
#portfolio .portfolio-item .portfolio-container .portfolio-hover .portfolio-hover-content .portfolio-modal-description {
  display: none;
}
#portfolio .portfolio-item .portfolio-container .portfolio-hover:hover {
  opacity: 0.7;
}

/*PORTFOLIO MODAL*/
#lightbox {
  display: none;
  position: fixed;
  padding: 100px 1em 50px 1em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: RGBA(0, 0, 0, 0.9);
  overflow: auto;
}
#lightbox .close {
  color: white;
  position: absolute;
  top: 55px;
  right: 25px;
  font-size: 3em;
}
#lightbox .close:hover,
#lightbox .close:focus {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}
#lightbox .modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  width: 90%;
}
#lightbox .modal-content img {
  margin: auto;
  width: 100%;
}
#lightbox .modal-content .caption-container {
  margin: auto;
  width: 95%;
  padding: 2em;
}
#lightbox .modal-content .caption-container .portfolio-title {
  color: gold;
  font-size: 2em;
}
#lightbox .modal-content .caption-container .portfolio-description {
  color: black;
  font-size: 1.5em;
}

/*EXPERIENCE*/
#resume {
  background-color: #777;
  color: white;
}

/*CONTACT*/
#contact .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  text-align: center;
  font-size: 2em;
}
#contact i {
  color: grey;
}
#contact i:hover {
  color: gold;
}

/*FOOTER*/
#footer {
  width: 100%;
  padding: 2em 0;
  text-align: center;
}
#footer i {
  color: coral;
}

/* ANIMATION MIXINS */

/*# sourceMappingURL=style.css.map */
